[flake8]
max_line_length = 121
exclude = .git, .idea, .mypy_cache, __pycache__, venv, build, dist
per-file-ignores =
    # Ignore trailing whitespaces in the INSTRUCTIONS string
    housie/constants.py:W291
    # Ignore imported but unused errors in __init__.py files
    housie/__init__.py:F401
    housie/models/__init__.py:F401